/* font imports 
    font-family: 'Inconsolata', monospace;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Space Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700;500&family=Space+Mono:wght@400;700&display=swap');

/* mini reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

/* general styles */
.grid {
  display: grid;
  grid-template-areas: 
    "header" 
    "main"
    "footer"
  ;
}

header {
  grid-area: header;
}

.logo {
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing:  -0.08em;
  text-transform: uppercase;
  color: #333;
}

main {
  grid-area: main;
  font-family: 'Space Mono', monospace;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333;
}

.message {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4F4F4F;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  background-color: #333;
}

footer {
  grid-area: footer;
}

.credits {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #BDBDBD;
}

.credits a {
  font-weight: 700;
  text-decoration: none;
  color: #BDBDBD;
}

.credits a:hover {
  text-decoration: underline;
}

/* responsive breakpoints */

/* really small devices (s9 samsung) */
@media only screen and (min-width: 350px) {
  .logo {
    margin-top: 20px;
    margin-left: 24px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-main {
    margin-top: 66px;
  }

  .scarecrow {
    width: 287px;
    height: 238px;
  }

  .content-main {
    width: 95%;
    margin-left: 5%;
    margin-top: 60px;
  }

  .title {
    font-size: 48px;
    line-height: 71px;
  }

  .message {
    width: 328px;
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
  }

  .btn {
    padding: 24px 43px;
    margin-top: 66px;
  }

  footer {
    padding-bottom: 24px;
    margin-top: 114px;
  }
  .credits {
    text-align: center;
  }
} 


/* Small devices (landscape phones, px and up) */
@media only screen and (min-width: 375px) {

  .content-main {
    width: 350px;
    margin-left: 24px;
  }

}


/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    margin-top: 40px;
    margin-left: 77px;
  }

  main {
    margin-top: 100px;
  }

  .img-main {
    margin-top: 0px;
    padding-right: 60px;
  }

  .scarecrow {
    width: 540px;
    height: 448px;
  }

  .content-main {
    width: 580px;
    margin-left: 24px;
    margin-top: 0px;
  }

  .title {
    font-size: 64px;
    line-height: 95px;
  }

  .message {
    width: 381px;
    font-size: 24px;
    line-height: 36px;
    margin-top: 36px;
  }

  .btn {
    margin-top: 64px;
  }

  footer {
    padding-bottom: 24px;
    margin-top: 200px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-height: 1000px) {
  footer {
    position:absolute;
    bottom:0;
    width:100%;
  }
}